.table-container{
    margin: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}
.guest-table{
    margin: 15px;
    background-color: white;
}
th, tr, td{
    border: 1px solid black;
}
.download-btn{
    margin: 0 auto;
    width: 20%;
    padding: 10px 0;
    background-color: black;
    color: white;
}
.filter-container label{
    margin: 0 15px;
}
input{
    margin: 0 5px;
}